<%= form_for(@contract) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :constract_type_id %><br>
    <%= select_tag :constract_type_id, options_for_select(@contract_types.map{|c| ["#{c.contract_type}",c.id]}, " ") %>    
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= select_tag :user_id, options_for_select(@users.map{|u| ["#{u.email}",u.id]}, " ") %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br>
    <%= select_tag :customer_id, options_for_select(@customers.map{|c| ["#{c.name}",c.id]}) %><%= link_to '+', new_customer_path %>
  </div>
  <div class="field">
    <%= f.hidden_field :contract_num, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :order_identifier %><br>
    <%= f.text_field :order_identifier %>
  </div>
  <div class="field">
    <%= f.label :review_date %><br>
    <%= f.date_field :review_date %>
  </div>
  <div class="field">
    <%= f.label :sample_income_date %><br>
    <%= f.date_field :sample_income_date %>
  </div>
  <div class="field">
    <%= f.label :protocole_done_date %><br>
    <%= f.date_field :protocole_done_date %>
  </div>
  <div class="field">
    <%= f.label :agre_finish_date %><br>
    <%= f.date_field :agre_finish_date %>
  </div>
  <div class="field">
    <%= f.label 'Cena:' %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label 'Záloha:' %><br>
    <%= f.text_field :backup_cost %>
  </div>
  <div class="field">
    <%= f.label 'Přeplatek:' %><br>
    <%= f.text_field :back_pay %>
  </div>
  <div class="field">
    <%= f.label 'Fakturace netto:' %><br>
    <%= f.text_field :fact_netto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
