<p id="notice"><%= notice %></p>

<p>
  <strong>Contract num:</strong>
  <%= @contract.contract_num %>
</p>

<p>
  <strong>Order identifier:</strong>
  <%= @contract.order_identifier %>
</p>

<p>
  <strong>Review date:</strong>
  <%= @contract.review_date %>
</p>

<p>
  <strong>Sample income date:</strong>
  <%= @contract.sample_income_date %>
</p>

<p>
  <strong>Protocole done date:</strong>
  <%= @contract.protocole_done_date %>
</p>

<p>
  <strong>Agre finish date:</strong>
  <%= @contract.agre_finish_date %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @contract.cost %>
</p>

<p>
  <strong>Backup cost:</strong>
  <%= @contract.backup_cost %>
</p>

<p>
  <strong>Back pay:</strong>
  <%= @contract.back_pay %>
</p>

<p>
  <strong>Fact netto:</strong>
  <%= @contract.fact_netto %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @contract.customer %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @contract.customer %>
</p>

<p>
  <strong>Contract type:</strong>
  <%= @contract.contract_type %>
</p>

<p>
  <strong>Contract type:</strong>
  <%= @contract.contract_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @contract.user %>
</p>

<p>
  <strong>User:</strong>
  <%= @contract.user %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
