<%= form_for(@constract_type) do |f| %>
  <% if @constract_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@constract_type.errors.count, "error") %> prohibited this constract_type from being saved:</h2>

      <ul>
      <% @constract_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contract_type %><br>
    <%= f.text_field :contract_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
